#form-busqueda {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border: 2px solid #7ed36d;
  border-radius: 9999px;
  padding: 6px 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

#form-busqueda:focus-within {
  border-color: #68d65a; /* rosado */
  box-shadow: 0 0 5px #021d00;
}

#buscador {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #444;
  font-size: 0.9rem;
}

#form-busqueda button img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

#form-busqueda button:hover img {
  transform: scale(1.1);
}
