
/* Variables personalizadas */
:root {
  --anim-duration: 0.8s;
  --anim-ease: cubic-bezier(0.22, 1, 0.36, 1);
}

/* Desplazamiento suave */
html {
  scroll-behavior: smooth;
}

/* Animaciones personalizadas */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp var(--anim-duration) var(--anim-ease) forwards;
}
