<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Florería Manu</title>
  <link href="{{ url_for('static', filename='css/carrusel.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/eleccion.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pie.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot-logo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/logos-final.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modo-oscuro.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buscador.css')}}">
</head>

<body class="bg-gray-50 text-gray-800">

  <div id="popupOverlay" class="hidden">
    <div id="popupBox">
      <p>¿Deseas activar el modo con voz de guía?</p>
      <p>(esta acción está diseñada para personas con pérdida de visión)</p>
      <button id="btnSi">Sí</button>
      <button id="btnNo">No</button>
    </div>
  </div>

  <!-- Navegación -->
  <nav class="relative flex items-center justify-between px-4 py-2 bg-white z-[9999]">
    <!-- Logo + Nombre -->
    <div class="flex items-center gap-2">
      <a href="/" class="hover:underline">
        <img src="static/image/logos/logo_empresa.png" alt="Logo del negocio"
          class="w-15 h-10 rounded-lg border-4 border-white shadow-lg hover:scale-110 transition-transform duration-300" />
      </a>
      <h1 class="text-xl font-bold">Florería Manu</h1>
    </div>

    <!-- Buscador -->
<form id="form-busqueda" class="flex items-center border rounded px-2 py-1 bg-gray-100" onsubmit="event.preventDefault()">
  <input
    type="search"
    id="buscador"
    placeholder="Buscar..."
    class="bg-transparent outline-none px-20 text-sm"
  />
  <button type="button">
    <img
      src="static/image/logos/buscador.png"
      alt="buscador"
      class="w-6 h-6 hover:scale-110 transition-transform duration-300"
    />
  </button>
</form>



    <!-- Botón hamburguesa SOLO en móviles -->
    <button id="animate-pulse" class="md:hidden text-gray-700 focus:outline-none relative z-[9999]">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Menú en pantallas grandes -->
    <ul class="hidden md:flex items-center gap-4">
      <li><a href="/selector_retos"><img src="static/image/logos/retos.gif" alt="Misiones del cliente"
            class="w-10 h-10 nav-logo" /></a></li>
      <label for="toggle"> <img src="static/image/logos/claro.png" alt="Tema" class="w-8 h-8 nav-logo" data-light="static/image/logos/claro.png" data-dark="static/image/logos/oscuro.png" id="themeIcon"></label>
      <input type="checkbox" id="toggle">

      <li><a href="#"><img src="static/image/logos/carrito.png" alt="Carrito de compras" class="w-8 h-8 nav-logo" /></a>
      </li>
      <li><a href="#"><img src="static/image/logos/favorito.png" alt="Sección de favoritos"
            class="w-8 h-8 nav-logo" /></a></li>
      <li><a href="/login"><img src="static/image/logos/perfil.png" alt="Perfil de usuario"
            class="w-8 h-8 nav-logo" /></a></li>
    </ul>


    <!-- Menú móvil desplegable -->
    <ul id="mobile-menu"
      class="hidden absolute top-full right-0 bg-white p-4 flex flex-col gap-4 shadow-lg rounded-b-lg z-[9999] w-48">
      <li><a href="/juego"><img src="static/image/logos/retos.gif" alt="Misiones" class="w-10 h-10" /><span
            class="text-sm font-medium">Misiones del usuario</span></a></li>
      <li><a href="#"><img src="static/image/logos/claro.png" alt="Tema" class="w-8 h-8" /><span
            class="text-sm font-medium">Tema Claro/Oscuro</span></a></li>
      <li><a href="#"><img src="static/image/logos/carrito.png" alt="Carrito" class="w-8 h-8" /><span
            class="text-sm font-medium">Carrito de compras</span></a></li>
      <li><a href="#"><img src="static/image/logos/favorito.png" alt="Favoritos" class="w-8 h-8" /><span
            class="text-sm font-medium">Favoritos</span></a></li>
      <li><a href="/login"><img src="static/image/logos/perfil.png" alt="Perfil" class="w-8 h-8" /><span
            class="text-sm font-medium">Perfil del usuario</span></a></li>
    </ul>
  </nav>
  <nav class="w-full border-t border-b border-gray-200 bg-white">
  <ul class="flex justify-center gap-10 py-3 text-sm font-bold">
      <li>
      <a href="#" class="text-green-900 hover:text-green-700 hover:border-b-2 hover:border-green-700 pb-1">
       RAMOS
      </a>
    </li>
    <li>
      <a href="#Arreglos" class="text-green-900 hover:text-green-700 hover:border-b-2 hover:border-green-700 pb-1">
        ARREGLOS FLO.
      </a>
    </li>
    <li>
      <a href="#" class="text-green-900 hover:text-green-700 hover:border-b-2 hover:border-green-700 pb-1">
        CORONAS
      </a>
    </li>
    <li>
      <a href="#" class="text-green-900 hover:text-green-700 hover:border-b-2 hover:border-green-700 pb-1">
        DECORACIONES EVENT.
      </a>
    </li>
    <li>
      <a href="#" class="text-green-900 hover:text-green-700 hover:border-b-2 hover:border-green-700 pb-1">
        FLORES
      </a>
    </li>
  </ul>
</nav>


  <!--Carrusel de los descuentos-->

  <div class="carousel-container relative w-full overflow-hidden mt-10">
    <div class="carousel-track">
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento1.png') }}" class="h-64 object-cover"
          alt="Imagen 1">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento2.png') }}" class="h-64 object-cover"
          alt="Imagen 2">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento3.png') }}" class="h-64 object-cover"
          alt="Imagen 3">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento4.png') }}" class="h-64 object-cover"
          alt="Imagen 4">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento5.png') }}" class="h-64 object-cover"
          alt="Imagen 5">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento6.png') }}" class="h-64 object-cover"
          alt="Imagen 6">
      </a>

      <!-- Repetir para efecto infinito -->
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento1.png') }}" class="h-64 object-cover"
          alt="Imagen 1">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento2.png') }}" class="h-64 object-cover"
          alt="Imagen 2">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento3.png') }}" class="h-64 object-cover"
          alt="Imagen 3">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento4.png') }}" class="h-64 object-cover"
          alt="Imagen 4">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento5.png') }}" class="h-64 object-cover"
          alt="Imagen 5">
      </a>
      <a href="{{ url_for('formulario_compra') }}">
        <img src="{{ url_for('static', filename='image/descuentos/descuento6.png') }}" class="h-64 object-cover"
          alt="Imagen 6">
      </a>
    </div>
  </div>

  <div class="relative w-full max-w4xl overflow-hidden rounded-2xl shadow-lg">
    <div class="flex animate-slide-x">
      {% for img in imagenes %}
      <img src="{{ images }}" class="w-full h-64 w-96 object-cover" alt="Image {{ loop.index }}">
      {% endfor %}
    </div>
  </div>



  <!-- Sección de Ramos -->
  <section class="p-10">
    <h5 class="text-center font-bold mb-10 ">RAMOS</h5>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Tarjeta de producto -->
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/ramos/ramo1.jpg" id="imagenramo1" alt="Ramo 1"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Alma de Bosque</h4>
          <p class="text-pink-600 font-bold">S/45.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo2" src="static/audio/aurora moderna.wav"></audio>
        <img src="static/image/ramos/ramo2.jpg" id="imagenramo2" alt="Ramo 2"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Aurora Moderna</h4>
          <p class="text-pink-600 font-bold">S/37.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="#" id="heartLink">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos" id="heartIcon"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300 cursor-pointer" />
            </a>

          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo3" src="static/audio/atetish.wav"></audio>
        <img src="static/image/ramos/ramo3.png" id="imagenramo3" alt="Ramo 3"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Atetish</h4>
          <p class="text-pink-600 font-bold">S/40.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo4" src="static/audio/belicate.wav"></audio>
        <img src="static/image/ramos/ramo4.png" id="imagenramo4" alt="Ramo 4"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Belicate</h4>
          <p class="text-pink-600 font-bold">S/35.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo5" src="static/audio/canto de rio.wav"></audio>
        <img src="static/image/ramos/ramo5.jpg" id="imagenramo5" alt="Ramo 5"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Canto de Rio</h4>
          <p class="text-pink-600 font-bold">S/80.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto ">
        <audio id="audioRamo6" src="static/audio/clicken lila.wav"></audio>
        <img src="static/image/ramos/ramo6.png" id="imagenramo6" alt="Ramo 6"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Clicken lila</h4>
          <p class="text-pink-600 font-bold">S/40.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo7" src="static/audio/corazón de jardin.wav"></audio>
        <img src="static/image/ramos/ramo7.jpg" id="imagenramo7" alt="Ramo 7"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Corazón de jardin</h4>
          <p class="text-pink-600 font-bold">S/45.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo8" src="static/audio/deliccat.wav"></audio>
        <img src="static/image/ramos/ramo8.jpg" id="imagenramo8" alt="Ramo 8"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Deliccat</h4>
          <p class="text-pink-600 font-bold">S/35.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo9" src="static/audio/dulce amanecer.wav"></audio>
        <img src="static/image/ramos/ramo9.jpg" id="imagenramo9" alt="Ramo 9"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Dulce Amanecer</h4>
          <p class="text-pink-600 font-bold">S/45.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo10" src="static/audio/eco de primavera.wav"></audio>
        <img src="static/image/ramos/ramo10.png" id="imagenramo10" alt="Ramo 10"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Eco de Primavera</h4>
          <p class="text-pink-600 font-bold">S/50.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo11" src="static/audio/elegancia pura.wav"></audio>
        <img src="static/image/ramos/ramo11.jpg" id="imagenramo11" alt="Ramo 11"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Elegancia Pura</h4>
          <p class="text-pink-600 font-bold">S/40.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo12" src="static/audio/elixir de flores.wav"></audio>
        <img src="static/image/ramos/ramo12.jpg" id="imagenramo12" alt="Ramo 12"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Elixir de flores</h4>
          <p class="text-pink-600 font-bold">S/35.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo13" src="static/audio/eterno romance.wav"></audio>
        <img src="static/image/ramos/ramo13.png" id="imagenramo13" alt="Ramo 13"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="p-4">
          <h4 class="font-semibold text-lg">Eterno romance</h4>
          <p class="text-pink-600 font-bold">S/35.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--Seccion de Arreglos-->
  <section id="Arreglos" class="p-10">
    <h5 class="text-center font-bold mb-10 ">ARREGLOS</h5>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Tarjeta de producto -->
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Anivech.jpg" id="imagenarreglo1" alt="Arreglo 1"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Anivech</h4>
          <p class="text-pink-600 font-bold">S/150.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
      
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/BlankLove.jpg" id="imagenarreglo2" alt="Arreglo 2"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Blank Love </h4>
          <p class="text-pink-600 font-bold">S/100.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Bluekate.jpg" id="imagenarreglo3" alt="Arreglo 3"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Blue Kate </h4>
          <p class="text-pink-600 font-bold">S/50.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>


      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/BrilloSolar.webp" id="imagenarreglo4" alt="Arreglo 4"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Brillo Solar</h4>
          <p class="text-pink-600 font-bold">S/180.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
            
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/DoradoSilvestre.jpg" id="imagenarreglo5" alt="Arreglo 5"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Dorado Silvestre</h4>
          <p class="text-pink-600 font-bold">S/200.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
           
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Duble.jpg" id="imagenarreglo6" alt="Arreglo 6"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Duble</h4>
          <p class="text-pink-600 font-bold">S/200.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
                  
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Freschs.jpg" id="imagenarreglo7" alt="Arreglo 7"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Freschs</h4>
          <p class="text-pink-600 font-bold">S/80.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
      
      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Griablue.jpg" id="imagenarreglo8" alt="Arreglo 8"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Jejyf</h4>
          <p class="text-pink-600 font-bold">S/140.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Jejyf.jpg" id="imagenarreglo9" alt="Arreglo 9"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Jeylur</h4>
          <p class="text-pink-600 font-bold">S/50.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Jeylur.jpg" id="imagenarreglo10" alt="Arreglo 10"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Lilauis</h4>
          <p class="text-pink-600 font-bold">S/60.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Lilauis.jpg" id="imagenarreglo11" alt="Arreglo 11"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Narejch</h4>
          <p class="text-pink-600 font-bold">S/30.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Narejch.jpg" id="imagenarreglo12" alt="Arreglo 12"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Pinkffo</h4>
          <p class="text-pink-600 font-bold">S/130.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Pinkffo.jpg" id="imagenarreglo13" alt="Arreglo 13"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Primaverate</h4>
          <p class="text-pink-600 font-bold">S/80.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Primaverate.jpg" id="imagenarreglo14" alt="Arreglo 14"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Rosxh</h4>
          <p class="text-pink-600 font-bold">S/70.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Rosxh.jpg" id="imagenarreglo15" alt="Arreglo 15"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Rousnote</h4>
          <p class="text-pink-600 font-bold">S/200.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Rousnote.jpg" id="imagenarreglo16" alt="Arreglo 16"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Sonrisa del sol_</h4>
          <p class="text-pink-600 font-bold">S/120.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Sonrisa del sol_.jpg" id="imagenarreglo17" alt="Arreglo 17"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Tulippt</h4>
          <p class="text-pink-600 font-bold">S/100.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Tulippt.jpg" id="imagenarreglo18" alt="Arreglo 18"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Yrlouus</h4>
          <p class="text-pink-600 font-bold">S/320.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
        </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden producto">
        <audio id="audioRamo1" src="static/audio/alma de bosque.wav"></audio>
        <img src="static/image/Arreglos/Yrlouus.jpg" id="imagenarreglo19" alt="Arreglo 19"
          class="w-full h-50 object-cover hover:scale-105 transition-transform duration-200" />
        <div class="relative p-4 bg-white rounded shadow-md">
          <h4 class="font-semibold text-lg">Freschs</h4>
          <p class="text-pink-600 font-bold">S/90.00</p>
          <div class="flex items-center justify-between mt-2">
            <a href="/formulario_compra" class="hover:underline">
              <button
                class="mt-2 bg-pink-500 text-white px-10 py-1 rounded hover:bg-green-600 transition-colors duration-300">
                Añadir al carrito
            </a>
            </button>
            <a href="https://www.facebook.com/" class="hover:underline">
              <img src="static/image/logos/favorito.png" alt="Sección de favoritos"
                class="w-8 h-8 hover:scale-110 transition-transform duration-300" />
            </a>
          </div>
        </div>
      </div>
    </section>
 


  </section>

  <!-- Botón para el chatbot-->
  <div class="chatbot-wrapper fixed bottom-24 right-6 z-50">
    <!-- Globo de diálogo -->
    <div id="floribot-bubble" class="chatbot-bubble">
      Soy FloriBot tu asistente🌼,<br />
      Si necesitas información sobre ramos,<br />
      no dudes en preguntarme.
    </div>

    <!-- chatbot -->
    <a href="/chatbot" target="_blank" id="chatbot-toggle" class="chatbot-button">
      <img src="static/image/logos/chatbot-icon.png" alt="Chatbot" />
    </a>
  </div>



  <!-- Botón flotante de WhatsApp -->

  <a href="https://wa.me/51967086515" target="_blank" class="fixed bottom-6 right-6 z-50">
    <img src="static/image/logos/whatsapp.png" alt="WhatsApp"
      class="w-16 h-16 rounded-full shadow-lg hover:scale-110 transition-transform duration-300" />
  </a>

  <footer class="footer">
    <div class="footer-container">

      <div class="footer-section">
        <h3>🛍️ Cliente</h3>
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/profile.php?id=100075779234124" target="_blank" 
            class="icono-texto">
              <img src="static/image/logos/perfil.png" alt="perfil">
              <span class="forma-letra3">Mi cuenta</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100075779234124" target="_blank" 
            class="icono-texto">
              <img src="static/image/logos/carrito.png" alt="perfil">
              <span class="forma-letra3">Mis pedidos</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100075779234124" target="_blank" 
            class="icono-texto">
              <img src="static/image/logos/favorito.png" alt="perfil">
              <span class="forma-letra3">Mis favoritos</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100075779234124" target="_blank" 
            class="icono-texto">
              <img src="static/image/logos/seguimiento.png" alt="perfil">
              <span class="forma-letra3">Seguimiento de envio</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>🔗 Enlaces</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="/nosotros">Sobre nosotros</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>📞 Contáctanos</h3>
        <p>📍 Av. Los Emprendedores 123, Cañete – Lima</p>
        <p>📱 +51 967 086 515</p>
      </div>

      <div class="footer-section">
        <h3>📱 Síguenos</h3>
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/profile.php?id=100075779234124" target="_blank" 
            class="icono-texto">
              <img src="static/image/logos/facebook.png" alt="Facebook">
              <span class="forma-letra2">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/floreriamanu/?igsh=MTY4N29xZXR3d2pmMA%3D%3D#" target="_blank"
              class="icono-texto">
              <img src="static/image/logos/instagram.png" alt="Instagram">
              <span class="forma-letra">Instagram</span>
            </a>
          </li>

          <li>
            <a href="https://www.tiktok.com/@floreriamanu" target="_blank" class="icono-texto">
              <img src="static/image/logos/tiktok.png" alt="TikTok">
              <span class="forma-letra3">Tik tok</span>
            </a>
          </li>
        </ul>
      </div>


      <div class="footer-section">
        <h3>📘 Libro de Reclamaciones</h3>
        <a href="#" target="_blank" class="social-icons2">
          <img src="static/image/logos/libro_reclamaciones.png" alt="libro de reclamos" class="libro-img">
        </a>
      </div>


      <div class="footer-section">
        <h3>💳 Pagos</h3>
        <p>Yape | Plin | PagoEfectivo</p>
      </div>

      <div class="footer-section">
        <h3>🎁 Regístrate</h3>
        <p>Obtén hasta 15% de descuento</p>
        <a href="/registro" class="register-btn">Haz clic para registrarte</a>
      </div>

    </div>
    <div class="footer-bottom">
      © 2025 FloreriaManu. Todos los derechos reservados.
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/sonido.js') }}"></script>
  <script src="{{ url_for('static', filename='js/favorito.js') }}"></script>
  <script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/eleccion.js') }}"></script>
  <script src="{{ url_for('static', filename='js/menu.js')}}"></script>
  <script src="{{ url_for('static', filename='js/menu.movil.js')}}"></script>
  <script src="{{ url_for('static', filename='js/buscador.js')}}"></script>
  <script src="{{ url_for('static', filename='js/modo-oscuro.js')}}"></script>
  <script src="{{ url_for('static', filename='js/buscador.js')}}"></script>

</body>


</html>