<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Pixel Floris - Florería Manu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/juego.css') }}">
    <link href="{{ url_for('static', filename='css/modo-oscuro.css') }}" rel="stylesheet" />
</head>

<body>
    
    <div class="mb-4">
      <a href="/selector_retos">
      <img src="{{ url_for('static', filename='image/logos/regresar.png') }}" alt="Regresar" class="h-12 w-12 auto-invert2">
      </a>
    </div>

    <div class="game-wrap">
        <header>
            <h1>Pixel Floris - ¡Colecciona flores y gana descuento!</h1>
            <div class="hud">
                <div class="panel">Vidas: <span id="lives">2</span> <span class="heart" style="margin-left:6px"></span>
                </div>
                <div class="panel">Flores: <span id="flowers">0</span> <span class="flower"
                        style="margin-left:6px"></span></div>
                <div class="panel">Descuento: <span id="percent">0%</span></div>
            </div>
        </header>

        <!-- Pantalla de selección de personaje -->
        <div id="characterSelect">
            <h2>Elige tu personaje</h2>
            <img src="static/image/logos/personaje.png" data-character="static/image/logos/personaje.png"
                class="character" width="80" height="80">

            <img src="static/image/logos/personaje1.png" data-character="static/image/logos/personaje1.png"
                class="character" width="80" height="80">
        </div>
        <!-- Juego -->
        <div class="overlay" id="gameArea" style="display:none;">
            <canvas id="gameCanvas" width="640" height="360"></canvas>
            <div id="message" class="message" style="display:none">
                <div>
                    <div class="big" id="finalTitle">¡Fin del juego!</div>
                    <div id="finalText">Agarraste X flores y obtuviste Y% de descuento.</div>
                    <div style="margin-top:10px;text-align:center">
                        <button id="restartBtn" class="btn">Volver a jugar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/menujuego.js')}}"></script>
    <script src="{{ url_for('static', filename='js/juego.js')}}"></script>
    <script src="{{ url_for('static', filename='js/modo-oscuro.js')}}"></script>
</body>

</html>